.meunome{
    font-family: Verdana;
    font-size: 50pt;
    background-color: black;
    border-radius: 130px;
    height: 100px;
    width: 80%;
    color: white; 
    text-align: center;
}
